body{
    background-color: #192f5f;
}
.container{
    justify-content: space-around;
}
.form-signin {
    background-color: #fff;
    padding: 5%;
    border-radius: 2%;
    justify-content: center;
    margin-top: 10%;
    margin-bottom: 10%;
}